<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/header')%>
        <title>Checkout</title>
</head>

<body>
    <%- include('partials/navbar')%>
        <main id="checkout">
            <%console.log(vendor)%>
                <div class="checkout-vendor">
                    <%if(vendor=="swiggy" ){%>
                        <img src="https://img.icons8.com/doodle/150/000000/swiggy.png" />
                        <%}else if(vendor=="zomato" ){%>
                            <img src="https://img.icons8.com/doodle/150/000000/zomato.png" />
                            <%}else{%>
                                <img src="https://img.icons8.com/color/150/000000/uber-eats-app.png" />
                                <%}%>
                </div>
                <div id="final-receipt">
                    <div id="receipe-head">
                        Invoice
                    </div>
                    <div id="receipe-body">
                        <table>
                            <thead>
                                <tr>
                                    <td>Item</td>
                                    <td>Cost</td>
                                </tr>
                            </thead>>
                            <tbody>
                                <%for(let x of customer.cart){%>
                                    <tr>
                                        <td>
                                            <%=x.Item%>
                                        </td>
                                        <td>
                                            <%=x.Price%>
                                        </td>

                                    </tr>
                                    <%}%>
                                        <tr>
                                            <td>TOTAL:</td>
                                            <%let total=0%>
                                                <%for(let x of customer.cart){ %>
                                                    <%total=parseInt(x.Price)+total%>
                                                        <%}%>
                                                            <td>
                                                                <%=total%>
                                                            </td>
                                        </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </main>
        <%- include('partials/footer')%>
</body>

</html>