<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header')%>
    <title>Login</title>
</head>
<body>
    <%- include('partials/navbar-login')%>
    <main id="login-page">
        <form class="login" action="/login?otp=sent" method="POST">
            <div class="input">
                <label for="phone">Enter you mobile number</label>
                <%if(otp.otp=="sent"){%>
                    <input type="tel" id="phone" name="phone" value=<%=phone%> maxlength="10" minlength="10" readonly=true required >
                <%}else{%>
                    <input type="tel" id="phone" name="phone" maxlength="10" minlength="10" required>
                </div>
                <button>Send OTP</button>
                <%}%>
        </form>
        <%if(otp.otp=="sent"){%>
            <form  class="login" action="/restaurants?userid=<%=customer._id%>" method="POST">
                <input type="tel" id="phone" name="phone" value=<%=phone%> maxlength="10" minlength="10" hidden required >
                <div class="input">
                    <label for="otp">Enter OTP number</label>
                    <input type="tel" id="otp" name="otp" minlength="4" maxlength="4" required>
                </div>
                <button>Login</button>
            </form>
        <%}%>
    </main>
    <%- include('partials/footer')%>
</body>
</html>